<section class="pad-respond-xy-mob theme-grey shadow-t-mob">

	<!--
	HTML > Header
	-->

	<header class="constrain pad-respond-y-mob">

		<h2 class="text-underline">Contact Us</h2>
		<p>Start a conversation using the form below, or email us directly at <a href="mailto:info@WEBSITEURL.co.za" target="_blank" rel="noopener">info@lunia.co.za</a>. You can also start a <span class="no-break"><a href="https://api.whatsapp.com/send?phone=27&text=Hi%20there" target="_blank" rel="noopener">WhatsApp chat</a>.</span></p>

	</header>

	<!--
	HTML > Container
	-->

	<div class="width-100 constrain pad-respond-y-mob">

		<!--
		HTML > Form
		-->

		<form action="https://formspree.io/EMAILADDRESSHERE" method="POST">

			<!--
			HTML > Hidden Inputs
			-->

			<input type="hidden" name="_subject" value="[Website Message]" />
			<input type="hidden" name="_next" value="REDIRECTURLHERE/form-to-email-success.php" />
			<input type="text" name="_gotcha" style="display:none" />

			<div class="spread flow-ttb-mob">

					<div class="flow-ttb-mob flow-ltr-tab spread">

						<div class="flow-ltr-mob">

							<label for="name">

									<span>Name</span>
									<input type="text" name="name" tabindex="1" required />

							</label>

						</div>
						<div class="flow-ltr-mob">

							<label for="email">

									<span>Email</span>
									<input type="email" name="_replyto" tabindex="2" required />

							</label>

						</div>

					</div>
					<div class="flow-ttb-mob">

						<label for="name">

							<span>Message</span>
							<textarea id="message" name="message" rows="4" tabindex="3" required></textarea>

						</label>

					</div>
					<div class="flow-ttb-mob align-c-mob pad-respond-t-mob">

						<button class="theme-blue" id="section_contactform_button_submit" type="submit">Send Message</button>

					</div>

			</div>

		</form>

	</div>

</section>
