<section class="pad-respond-xy-mob theme-dark-grey">

	<!--
	HTML > Section header
	-->

	<header class="pad-respond-y-mob">

		<h2 class="text-underline">Background H-Card</h2>
		<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

    </header>

	<!--
	HTML > Container
	-->

	<div class="flow-ttb-mob width-100 constrain spread-respond pad-respond-y-mob">

		<!--
		HTML > Figure
		-->

		<figure class="flow-ttb-mob flow-ltr-tab theme-white border-mob radius-mob shadow-mob">

			<div class="image-background image-placeholder accent-yellow"></div>
			<div class="pad-respond-x-mob pad-y-mob">

					<p>Text</p>

			</div>

		</figure>

	</div>

	<!--
	HTML > Section footer
	-->

	<footer class="pad-respond-y-mob">

		<div class="flow-ttb-mob">

			<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

		</div>

	</footer>

</section>
