<div class="( detect-ie ) pad-xy-mob theme-white-mob border-t-mob">

	<div class="flexdir-ltr-mob constrain spread">

		<div class="encimage-detect-ie"></div>

		<p>Sorry, this website does <strong>not support Internet Explorer.</strong> Please use a modern browser like <a href="https://www.google.com/chrome/" target="_blank" rel="noopener" id="browserdetect_chrome" aria-label="Chrome" title="Chrome">Chrome</a>, <a href="https://browser.yandex.com/" target="_blank" rel="noopener" id="browserdetect_yandex" aria-label="Yandex" title="Yandex">Yandex</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank" rel="noopener" id="browserdetect_firefox" aria-label="Firefox" title="Firefox">Firefox</a>, or you'll get some strange results!</p>

	</div>

</div>