<header class="flow-ttb-mob pattern-hero image-placeholder theme-white border-b-mob">

	<!--
	HTML > Container
	-->

	<div class="width-100 constrain">

		<div>

			<div class="pad-xy-mob">

					<h1 class="font-white">Hero</h1>

			</div>

			<div class="pad-xy-mob">

					<p class="font-white">Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

			</div>

			<div class="flow-ttb-mob flow-ltr-tab spread-respond pad-xy-mob">

					<a class="button theme-blue"><span>Call to Action</span></a>

			</div>

		</div>

	</div>

</header>
