<footer class="pad-respond-xy-mob theme-dark-grey">

	<!--
	Container
	-->

	<div class="flow-btt-mob flow-ltr-tab width-100 constrain align-s-tab pad-y-mob">

		<div class="pad-respond-r-tab pad-y-mob">
			<div class="flow-ltr-mob pad-b-mob justify-fs-mob">
				<a class="brand-iab-member" href="https://iabsa.net/?utm_source=Solid%20Gold%20Podcast%20Studios" target="_blank" rel="noopener"></a>
			</div>
			<div class="border-b-mob h4 text-l-mob">About us</div>
			<p class="text-l-mob pad-b-mob">Our vision is to be the Podcast Partner of choice. Our mission is to help people and organisations #BeHeard through quality, creative story-telling.</p>
			<div class="border-b-mob h4 text-l-mob">Legal stuff</div>
			<p class="text-l-mob">&copy; 2019 Leapfrog Technologies cc. All rights reserved. Leapfrog Technologies cc (Reg. No. 2000/040996/23) t/a Solid Gold Studios. SGS is a VAT-registered vendor and pricing excludes VAT at the prevailing rate.</p>
			<p class="text-l-mob">We do not endorse the content of third party websites.</p>
			<p class="text-l-mob">Site by <a href="https://lunia.co.za" target="_blank">Lunia</a>.</p>

		</div>
		<div class="flow-ttb-mob spread-respond align-fs-mob justify-fs-mob pad-respond-l-tab pad-y-mob border-l-tab">

			<div class="border-b-mob h3 text-l-mob">#BeHeard</div>

				<ul class="list-icon width-100 spread">

					<!--
					Phone
					-->
					<li>
						<a href="tel:+27832271409">
							<span class="phone">+27 (0)83 227-1409</span>
						</a>
					</li>

					<!--
					WhatsApp
					-->
					<li>
						<a href="https://api.whatsapp.com/send?phone=27832271409&text=[SGS]%20Hi%20there" target="_blank" rel="noopener">
							<span class="whatsapp">WhatsApp message</span>
						</a>
					</li>

					<!--
					Email
					-->
					<li>
						<a href="mailto:gavin@solidgoldstudios.co.za">
							<span class="email">gavin@solidgoldstudios.co.za</span>
						</a>
					</li>

					<!--
					Location
					-->
					<li>

					</li>

					<!--
					LinkedIn
					-->
					<li>
						<a href="https://www.linkedin.com/company/solid-gold-podcast-studios/" target="_blank" rel="noopener">
							<span class="linkedin">LinkedIn</span>
						</a>
					</li>

					<!--
					Facebook
					-->
					<li>
						<a href="https://www.facebook.com/solidgoldpodcaststudios/" target="_blank" rel="noopener">
							<span class="facebook">Facebook #BeHeard</span>
						</a>
					</li>

					<!--
					Instagram
					-->
					<li>
						<a href="https://www.instagram.com/solidgoldpods/?hl=en" target="_blank" rel="noopener">
							<span class="instagram">Instagram #BeHeard</span>
						</a>
					</li>

					<!--
					Twitter
					-->
					<li>
						<a href="https://twitter.com/solidgoldpods" target="_blank" rel="noopener">
							<span class="twitter">Twitter #BeHeard</span>
						</a>
					</li>

				</ul>

		</div>

	</div>

</footer>