<div class="pattern-page-leadin pad-respond-x-mob theme-dark-grey">

	<!--
	HTML > Container
	-->

	<div class="width-100">

		<!--
		HTML > Leadin Links
		-->

		<div class="brand">

			<a class="brand-solid-gold-studios" href="index.php" title="logo"></a>

		</div>

		<div class="spread-half justify-fe-mob flow-ltr-mob">

			<a class="link" href="channels.php"><span class="hide-tab font-white align-c-mob pad-x-mob">Channels</span></a>
			<a class="link" href="studios.php"><span class="hide-tab font-white align-c-mob pad-x-mob">Studios</span></a>
			<a class="link" href="pricing.php"><span class="hide-tab font-white align-c-mob pad-x-mob">Pricing</span></a>
			<a class="link" href="contact.php"><span class="hide-tab font-white align-c-mob pad-x-mob">Contact</span></a>
			<a class="nav-icon" onclick="menuModal.open();"></a>

		</div>

		<!--
		HTML > Page navigation
		-->

		<nav id="menu-modal">

			<div class="pattern-page-nav">

				<div class="pattern-page-nav-container">

					<a href="channels.php"><span class="pattern-page-nav-dropdown-heading" onclick="menuModal.close();">Channels</span></a>
					<a href="studios.php"><span class="pattern-page-nav-dropdown-heading" onclick="menuModal.close();">Studios</span></a>
					<a href="pricing.php"><span class="pattern-page-nav-dropdown-heading" onclick="menuModal.close();">Pricing</span></a>
					<a href="contact.php"><span class="pattern-page-nav-dropdown-heading" onclick="menuModal.close();">Contact</span></a>

				</div>

			</div>

		</nav>

	</div>

</div>
