<footer class="pad-x-mob pad-t-mob pad-respond-b-mob border-t-mob" id="footer" aria-labelledby="footer_h2_notes">

	<h2 id="footer_h2_notes" hidden>Notes</h2>

	<!--
	Container
	-->

	<div class="flexdir-btt-mob flexdir-ltr-tab constrain spread-respond pad-respond-b-mob">

		<!--
		Inner container for flexbox
		-->

		<div class="flexdir-ltr-mob spread-respond">

			<!--
			Menu
			-->

			<div>

				<h2 id="footer_h2_menu" hidden>Menu</h2>

				<ul>
					<li><a href="index.php" id="footer_a_home" aria-labelledby="footer_a_home footer_h2_menu">Home</a></li>
					<li><a href="channels.php" id="footer_a_channels" aria-labelledby="footer_a_channels footer_h2_menu">Channels</a></li>
					<li><a href="use-cases.php" id="footer_a_usecases" aria-labelledby="footer_a_usecases footer_h2_menu">Use Cases</a></li>
					<li><a href="studios.php" id="footer_a_studios" aria-labelledby="footer_a_studios footer_h2_menu">Studios</a></li>
					<li><a href="pricing.php" id="footer_a_pricing" aria-labelledby="footer_a_pricing footer_h2_menu">Pricing</a></li>
					<li><a href="contact.php" id="footer_a_contact" aria-labelledby="footer_a_contact footer_h2_menu">Contact</a></li>
				</ul>

			</div>

			<!--
			Social details
			-->

			<div>

				<h2 id="footer_h2_social" hidden>Social</h2>

				<ul>
					<li><a href="https://www.linkedin.com/company/solid-gold-podcast-studios/" target="_blank" rel="noopener" id="footer_a_linkedin" aria-labelledby="footer_a_linkedin footer_h2_social">LinkedIn</a></li>
					<li><a href="https://www.facebook.com/solidgoldpodcaststudios/" target="_blank" rel="noopener" id="footer_a_facebook" aria-labelledby="footer_a_facebook footer_h2_social">Facebook</a></li>
					<li><a href="https://www.instagram.com/solidgoldpods/?hl=en" target="_blank" rel="noopener" id="footer_a_instagram" aria-labelledby="footer_a_instagram footer_h2_social">Instagram</a></li>
					<li><a href="https://twitter.com/solidgoldpods" target="_blank" rel="noopener" id="footer_a_twitter" aria-labelledby="footer_a_twitter footer_h2_social">Twitter</a></li>
					<!--
					<li><a href="http://vm.tiktok.com/aw9PPV/" target="_blank" rel="noopener" id="footer_a_tiktok" aria-labelledby="footer_a_tiktok footer_h2_social">TikTok</a></li>
					-->
					<li><a href="https://www.youtube.com/channel/UCyhbvHoPuvfYl0z23gXEbYQ" target="_blank" rel="noopener" id="footer_a_youtube" aria-labelledby="footer_a_youtube footer_h2_social">YouTube</a>

				</ul>

			</div>

		</div>

		<!--
		Contact details
		-->

		<div>

			<h2 id="footer_h2_contact" hidden>Contact</h2>

			<ul>
				<li><a href="https://form.myjotform.com/80842486098569?hostEmail=gakennedy%40gmail.com&whichShow=General%20Release" target="_blank" rel="noopener" id="footer_a_mediarelease" aria-labelledby="footer_a_mediarelease footer_h2_mediarelease">Media Release Form (General)</a></li>
				<li><a href="https://landing.mailerlite.com/webforms/landing/t1l2j0" target="_blank" rel="noopener" id="footer_a_joinourmailing" aria-labelledby="footer_a_joinourmailing footer_h2_contact">Join our mailing list</a></li>
				<li><a href="tel:+27832271409" id="footer_a_phone" aria-labelledby="footer_a_phone">Call +27 (0)83 227-1409</a></li>
				<li><a href="https://api.whatsapp.com/send?phone=27832271409&text=[SGS]%20Hello%20Gavin..." id="footer_a_whatsapp" aria-labelledby="footer_a_whatsapp footer_h2_contact">Start WhatsApp chat</a></li>
				<li><a href="mailto:gavin@solidgoldstudios.co.za" id="footer_a_email" aria-labelledby="footer_a_email footer_h2_contact">Email gavin@solidgoldstudios.co.za</a></li>
				<!--
				<li><a href="https://goo.gl/maps/3hZ4ZpSPSjs" target="_blank" rel="noopener" id="footer_a_address" aria-labelledby="footer_a_address footer_h2_contact">Visit 5 Rhodes Street, Kensington B, Randburg, 2194, South Africa</a></li>
				-->
				<li><a href="https://g.page/solidgoldpodcasts?share" target="_blank" rel="noopener" id="footer_a_address" aria-labelledby="footer_a_address footer_h2_contact">Visit 5 Rhodes Street, Kensington B, Randburg, 2194, South Africa</a></li>

			</ul>

		</div>

	</div>

	<!--
	Notice
	-->

	<div class="width-100-mob constrain">

        <div class="flexdir-ltr-mob flexpos-lb-mob spread-respond pad-y-mob">

            <!--
            IMAGE
            -->

            <a class="encimage-brand-iab-member" href="https://iabsa.net/?utm_source=Solid%20Gold%20Podcast%20Studios" target="_blank" rel="noopener" title="IAB logo" id="header_hero_a_iab" aria-label="IAB logo"></a>

            <a class="encimage-brand-iono" href="https://iono.fm/" target="_blank" rel="noopener" title="iono fm logo" id="header_hero_a_iono" aria-label="iono fm logo"></a>

            <a class="encimage-brand-ariba" href="http://discovery.ariba.com/profile/AN01526756401" target="_blank" rel="noopener" title="View Solid Gold Podcast Studios profile on Ariba Discovery" id="header_hero_a_ariba" aria-label="Ariba logo"></a>

            <a class="encimage-brand-podcast-academy" href="https://www.thepodcastacademy.com/member/solidgold" target="_blank" rel="noopener" title="Podcast Academy logo" id="header_hero_a_podcastacademy" aria-label="Podcast Academy logo"></a>

        </div>

		<p>Our vision is to be the Podcast Partner of choice. Our mission is to help people and organisations #BeHeard through quality, creative story-telling.</p>

		<p>© Leapfrog Technologies cc (Reg. No. 2000/040996/23) t/a Solid Gold Podcast Studios.</p>

		<p>As we are a VAT-registered vendor dealing primarily with other businesses, all listed prices exclude VAT. Site by <a href="https://lunia.co.za" target="_blank" rel="noopener" id="footer_a_lunia" aria-labelledby="footer_a_lunia">Lunia</a>.</p>

	</div>

</footer>
