<div class="( pattern-page-leader__container )">

	<div class="( pattern-page-leader__inner )">

		<!--
		Container
		-->

		<div class="flexdir-ltr-mob">

			<div class="( pattern-page-leader__inner-items ) flexdir-ttb-mob flexpos-lc-mob">

				<!--
				Logo
				-->

				<a class="( pattern-page-leader__logo ) margin-respond-l-mob" id="div_patternpageleader_a_logo" href="index.php" title="Home" aria-label="Solid Gold Studios logo"></a>

			</div>

			<!--
			Menu
			-->

			<a class="pattern-page-leader__nav-button pushy--activate-menu" id="div_patternpageleader_a_openmenu" title="Open menu" role="button" aria-label="Open menu"></a>

			<!--
			Page nav inside Pushy
			-->

			<div class="( pushy pushy--top ) margin-respond-r-des">

				<nav class="( page-nav )">

					<div class="( page-nav__primary-container )">

						<a class="( page-nav__primary-item pushy--toggle )" href="channels.php" title="Podcast channels produced by Solid Gold Podcast Studios" id="nav_pagenav_a_channels" aria-labelledby="nav_pagenav_a_channels"><span>Channels</span></a>

					</div>

					<!-- <div class="( page-nav__primary-container )">

						<a class="( page-nav__primary-item pushy--toggle )" href="examples.php" title="Examples of how podcasts are used" id="nav_pagenav_a_examples" aria-labelledby="nav_pagenav_a_examples"><span>Examples</span></a>

					</div> -->

					<div class="( page-nav__primary-container )">

						<a class="( page-nav__primary-item pushy--toggle )" href="studios.php" title="Solid Gold Podcast Studios" id="nav_pagenav_a_studios" aria-labelledby="nav_pagenav_a_studios"><span>Studios</span></a>

					</div>

					<div class="( page-nav__primary-container )">

						<a class="( page-nav__primary-item pushy--toggle )" href="pricing.php" title="Pricing packages for producing podcasts" id="nav_pagenav_a_pricing" aria-labelledby="nav_pagenav_a_pricing"><span>Pricing</span></a>

					</div>

					<div class="( page-nav__primary-container )">

						<a class="( page-nav__primary-item pushy--toggle )" href="contact.php" title="Contact Solid Gold Podcast Studios" id="nav_pagenav_a_contact" aria-labelledby="nav_pagenav_a_contact"><span>Contact</span></a>

					</div>

				</nav>

			</div>

		</div>

	</div>

</div>