<section class="pad-respond-xy-mob theme-dark-grey">

	<!--
	HTML > Section header
	-->

	<header class="pad-respond-xy-mob">

		<h2 class="text-underline">Picture H-Card</h2>
		<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

	</header>

	<!--
	HTML > Container
	-->

	<div class="flow-ttb-mob flow-ltr-tab width-100 constrain spread-respond pad-respond-y-mob align-s-mob">

		<!--
		HTML > Figure
		-->

		<figure class="flow-ltr-mob align-fs-mob theme-white border-mob radius-mob pad-xy-mob shadow-mob accent-blue">

			<picture>

					<source srcset="assets/images/photos/free.webp" type="image/webp" />
					<img class="round-mob border-mob" src="assets/images/photos/free.jpg" alt="" />

			</picture>
			<div class="pad-xy-mob text-l-mob">

					<h3 class="text-l-mob">Heading</h3>
					<p class="text-l-mob">Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics! seed of intelligence concept of the number one laws of physics!</p>

			</div>

		</figure>

		<!--
		HTML > Figure
		-->

		<figure class="flow-ltr-mob align-fs-mob theme-white border-mob radius-mob pad-xy-mob shadow-mob accent-blue">

			<picture>

					<source srcset="assets/images/photos/free.webp" type="image/webp" />
					<img class="round-mob border-mob" src="assets/images/photos/free.jpg" alt="" />

			</picture>
			<div class="pad-xy-mob text-l-mob">

					<h3 class="text-l-mob">Heading</h3>
					<p class="text-l-mob">Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics! seed of intelligence concept of the number one laws of physics!</p>

			</div>

		</figure>

	</div>

	<!--
	HTML > Section footer
	-->

	<footer class="pad-respond-y-mob">

		<div class="flow-ttb-mob">

			<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

		</div>

	</footer>

</section>
