<section class="pad-respond-y-mob theme-grey">

	<!--
	HTML > Section header
	-->

	<header class="pad-respond-xy-mob">

		<h2 class="text-underline">Picture V-Card</h2>
		<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

	</header>

	<!--
	HTML > Container
	-->

	<div class="flow-ttb-mob flow-ltr-tab width-100 constrain spread-respond pad-respond-x-tab pad-respond-y-mob align-s-tab">

		<!--
		HTML > Figure
		-->

		<figure class="flow-ttb-mob pad-respond-xy-mob theme-white radius-tab border-t-mob border-b-mob border-tab shadow-tab">

			<picture>

					<source srcset="assets/images/photos/free.webp" type="image/webp" />
					<img class="size-medium round-mob border-mob" src="assets/images/photos/free.jpg" alt="" />

			</picture>
			<div class="flex-grow pad-respond-t-mob">

					<h3>Heading</h3>
					<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

			</div>
			<div class="flow-ttb-mob pad-respond-t-mob">

					<a class="button theme-blue-transparent"><span>Learn How</span></a>

			</div>

		</figure>

		<!--
		HTML > Figure
		-->

		<figure class="flow-ttb-mob pad-respond-xy-mob theme-white radius-tab border-t-mob border-b-mob border-tab shadow-tab">

			<picture>

					<source srcset="assets/images/photos/free.webp" type="image/webp" />
					<img class="size-medium round-mob border-mob" src="assets/images/photos/free.jpg" alt="" />

			</picture>
			<div class="flex-grow pad-respond-t-mob">

					<h3>Heading</h3>
					<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

			</div>
			<div class="flow-ttb-mob pad-respond-t-mob">

					<a class="button theme-blue-transparent"><span>Learn How</span></a>

			</div>

		</figure>

		<!--
		HTML > Figure
		-->

		<figure class="flow-ttb-mob pad-respond-xy-mob theme-white radius-tab border-t-mob border-b-mob border-tab shadow-tab">

			<picture>

					<source srcset="assets/images/photos/free.webp" type="image/webp" />
					<img class="size-medium round-mob border-mob" src="assets/images/photos/free.jpg" alt="" />

			</picture>
			<div class="flex-grow pad-respond-t-mob">

					<h3>Heading</h3>
					<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

			</div>
			<div class="flow-ttb-mob pad-respond-t-mob">

					<a class="button theme-blue-transparent"><span>Learn How</span></a>

			</div>

		</figure>

	</div>

	<!--
	HTML > Section footer
	-->

	<footer class="pad-respond-y-mob">

		<div class="flow-ttb-mob">

			<p>Permanence of the stars brain is the seed of intelligence concept of the number one laws of physics!</p>

		</div>

	</footer>

</section>
