<!-- https: //developers.google.com/search/docs/data-types/corporate-contacts -->
<script type="application/ld+json">
	{
		"@context": "http://schema.org",
		"@type": "Corporation",
		"name": "Solid Gold Podcast Studios",
		"url": "https://solidgoldstudios.co.za",
		"sameAs": [
			"https://www.facebook.com/solidgoldrecordingstudios/",
			"https://www.instagram.com/solidgoldpods/?hl=en",
			"https://twitter.com/solidgoldpods",
			"https://www.linkedin.com/company/solid-gold-podcast-studios/",
		],
		"legalName": "Leapfrog Technologies cc",
		"foundingDate": "2018-10-01",
		"vatID": "4860190638",
		"description": "We help you plan, produce and publish your podcasts so you can tell your story.",
		"address": {
			"@type": "PostalAddress",
			"streetAddress": "5 Rhodes Street, Kensington B, Randburg",
			"addressLocality": "Johannesburg",
			"addressRegion": "Gauteng",
			"postalCode": "2194",
			"addressCountry": "South Africa"
		},
		"email": "gavin(at)solidgoldstudios.co.za",
		"contactPoint": [
			{
				"@type": "ContactPoint",
				"telephone": "+27-83-227-1409",
				"contactType": "customer service"
			}
		],
		"founder": [
			{
				"@type": "Person",
				"name": "Gavin Kennedy",
				"jobTitle": "CEO"
			}
		]
	}
</script>