// ==============================================================================================================
// Generic viewport
// (default declarations that can be overridden by specific media queries)
// ==============================================================================================================

// Document and base elements
// --------------------------------------------------------------------------------------------------------------

select::-ms-expand {
	display: none;
}

@-ms-viewport {
	width: device-width;
}

// Set base font size and line height for document root
:root {
	font-size: $root-font-size-mobile;
	line-height: $root-line-height;
}

// Set box model for all block level elements
html,
div,
figure,
span,
p,
ul,
ol,
em,
input,
textarea,
.button,
[type="button"] {
	box-sizing: border-box;
}

html {
	@extend %text-plain;
	margin: 0;
	width: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	// -ms-user-select: none; // Remove user selection highlight
	// user-select: none; // Remove user selection highlight
}

// Set allowbale user selection colour
input::selection,
textarea::selection,
select::selection {
	background-color: $green;
	color: #fff;
}

// Set minimum viewport options
html,
body {
	// min-width: 320px;
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// Accessibility colour test (these are the bases, and are overridden in context using themes)

body {
	background-color: $dark-grey; // Causes tags to fail contrast test, counteract with "header" and "section" colour
	color: #fff;
}

body > header,
section {
	background-color: #fff; // Counteracts "body" colour which causes accessibility failure
	color: $dark-grey;
}

main,
section {
	background-color: #fff;
}

html,
body,
div {
	-webkit-overflow-scrolling: touch; // Set smooth scrolling for iOS and scrollbar
	-ms-overflow-style: scrollbar;
}

// Reset counter for sections
body {
	counter-reset: section;
}


iframe,
object {
	border: 0;
	width: 100%;
}

// Remove focus line around highlighted elements
a:focus,
button::-moz-focus-inner {
	outline: none;
	border: 0;
}

// Scrollbar
// --------------------------------------------------------------------------------------------------------------

// // Hide scrollbar
// :-webkit-scrollbar {
// 	display: none;
// }

/*
body::-webkit-scrollbar {
	width: 1em;
}
 
body::-webkit-scrollbar-track {
	background-color: $light-grey;
	-webkit-box-shadow: inset 2px 2px 4px 0 rgba(0, 0, 0, 0.15);
}
 
body::-webkit-scrollbar-thumb {
	//border: 3px solid $light-grey;
	border-radius: 0.5rem;
	background-color: rgba(0, 0, 0, 0.15);
}
*/

// Typography
// --------------------------------------------------------------------------------------------------------------

h1,
h2,
.h2,
h3,
.h3,
h4 {
	background-color: transparent; // Needed for colour contrast accessibility
	width: 100%;
	font-family: $font-heading;
	font-weight: normal;
	text-align: left;
}

h1 {
	font-size: 1.8rem;
	line-height: 125%;
	// letter-spacing: 0.05rem;
}

h2,
.h2 {
	font-size: 1.4rem;
	line-height: 125%;
	// letter-spacing: 0.025rem;
}

h3,
.h3 {
	font-size: 1.3rem;
	line-height: 125%;
	// letter-spacing: 0.025rem;
}

h4 {
	font-size: 1rem;
	line-height: 125%;
}

p,
q,
td,
blockquote {
	@extend %text-plain;
}

blockquote {
	display: inline;
	position: relative;
	font-weight: bold;
}

mark {
	border: solid 1px transparent;
	border-radius: 3px;
	background-color: $very-light-yellow;
	padding: 0 2px 1px 2px;
}

strong {
	font-weight: bold;
}

small {
	font-size: 0.85rem;
	line-height: 120%;
}

i,
cite {
	font-weight: bold;
	font-style: normal;
}

abbr[title] {
	border-bottom: none;
	font-style: normal;
	// text-decoration: none;
}

sup {
	position: relative;
	margin-left: 0.1rem;
	top: 0.5rem;
	font-family: $font-plain;
	font-size: 75%;
	font-weight: normal;
	line-height: 0;
	vertical-align: top;
}

img[alt] {
	font-size: 0.85rem;
	line-height: 1.1rem;
}

// Typographic pairs
// --------------------------------------------------------------------------------------------------------------

// Heading immediately followed by another heading

h1 + h2,
h1 + .h2 {
	padding-top: calc(#{$space-fixed} * 0.5);
}

h2 + h3,
h2 + .h3,
.h2 + h3,
.h2 + .h3 {
	padding-top: calc(#{$space-fixed} * 1.25);
}

h3 + h4,
.h3 + h4 {
	padding-top: calc(#{$space-fixed} * 1);
}

// Heading immediately followed by a paragraph

h1 + p {
	padding-top: calc(#{$space-fixed} * 1.5);
}

h2 + p,
.h2 + p {
	padding-top: calc(#{$space-fixed} * 1.25);
}

h3 + p,
.h3 + p {
	padding-top: calc(#{$space-fixed} * 1);
}

h4 + p {
	padding-top: calc(#{$space-fixed} * 1);
}

// Heading immediately followed by a list

h1 + ul {
	padding-top: calc(#{$space-fixed} * 1.5);
}

h2 + ul,
.h2 + ul {
	padding-top: calc(#{$space-fixed} * 1.25);
}

h3 + ul,
.h3 + ul {
	padding-top: calc(#{$space-fixed} * 1);
}

h4 + ul {
	padding-top: calc(#{$space-fixed} * 1);
}

// Heading immediately followed by an emphasis

h1 + em {
	margin-top: calc(#{$space-fixed} * 1.5);
}

h2 + em,
.h2 + em {
	margin-top: calc(#{$space-fixed} * 1.25);
}

h3 + em,
.h3 + em {
	margin-top: calc(#{$space-fixed} * 1);
}

h4 + em {
	margin-top: calc(#{$space-fixed} * 1);
}

// Heading immediately followed by a "div"

h1 + div {
	padding-top: calc(#{$space-fixed} * 1.5);
}

h2 + div,
.h2 + div {
	padding-top: calc(#{$space-fixed} * 1.5);
}

h3 + div,
.h3 + div {
	padding-top: calc(#{$space-fixed} * 1);
}

h4 + div {
	padding-top: calc(#{$space-fixed} * 1);
}

// Heading immediately followed by a "table"
h2 + table,
.h2 + table {
	margin-top: calc(#{$space-fixed} * 1.5);
}

// Paragraph immediately followed by a heading

p + h2,
p + .h2 {
	padding-top: calc(#{$space-fixed} * 2);
}

p + h3,
p + .h3 {
	padding-top: calc(#{$space-fixed} * 1.5);
}

p + h4 {
	padding-top: calc(#{$space-fixed} * 1.5);
}

// Paragraph immediately followed by another paragraph

p + p {
	padding-top: calc(#{$space-fixed} * 1);
}

// Paragraph immediately followed by a list item
// This specifically targets the "li" child of the "ul' or "ol" for proper alignment

p + ul,
p + ol{
	padding-top: calc(#{$space-fixed} * 1);
}

// Paragraph immediately followed by an emphasis

p + em {
	margin-top: calc(#{$space-fixed} * 1.5);
}

// Paragraph immediately followed by a "div"

p + div {
	padding-top: calc(#{$space-fixed} * 2);
}

// List immediately followed by a heading
	
ul + h2,
ul + .h2,
ul + h3,
ul + .h3,
ul + h4 {
	padding-top: calc(#{$space-fixed} * 1.5);
}

// List immediately followed by a paragraph
	
ul + p {
	padding-top: calc(#{$space-fixed} * 1);
}

// Emphasis immediately followed by a paragraph

em + p {
	padding-top: calc(#{$space-fixed} * 1.5);
}

// Emphasis immediately followed by a list

em + ul,
em + ol {
	padding-top: calc(#{$space-fixed} * 1.5);
}

// Emphasis immediately followed by a "div"

em + div {
	margin-top: calc(#{$space-fixed} * 1);
}


// Links
// --------------------------------------------------------------------------------------------------------------

a {
	background-color: transparent;
	color: inherit;
	text-decoration: none;
	-webkit-text-decoration-skip: objects;
}

p > a {
	font-weight: bold;
}

// Callouts
// --------------------------------------------------------------------------------------------------------------

// "em" is semantically more correct for callouts than "blockquote"
em {
	display: block;
	clear: left;
	// margin: calc(#{$space-fixed} * 0.5) 0 calc(#{$space-fixed} * 1.5) 0;
	padding-top: calc(#{$space-fixed} * 0.5);
	padding-right: $space-fixed;
	padding-bottom: calc(#{$space-fixed} * 0.65);
	padding-left: $space-fixed;
	font-family: $font-plain;
	font-weight: bold;
	font-style: normal;
	letter-spacing: -0.005rem;
	text-align: left;
	line-height: 140%;
}

// Misc
// --------------------------------------------------------------------------------------------------------------

img {
	vertical-align: middle;
	border-style: none;
}

code {
	padding: 0.1rem 0.25rem 0.15rem 0.25rem;
	font-size: 95%;
}

hr {
	outline: none;
	background-color: $border-color-light;
	border: 0;
	margin-top: 0;
	margin-bottom: 0;
	width: 100%;
	height: 1px;
	color: $dark-grey; // For accessibility
}

// Set alternative text attribute style for images
[alt] {
	color: inherit;
	font-family: $font-plain;
	font-size: 1rem;
	letter-spacing: -0.015rem;
	text-align: left;
	line-height: 1.35rem;
}

// Buttons
// --------------------------------------------------------------------------------------------------------------

// Make transition effects smooth
button,
a.button,
a[type="button"] {
	transition: all 0.15s ease-in-out;
	-ms-user-select: none; // Remove user selection highlight
	user-select: none; // Remove user selection highlight
}

// Adjust vertical alignment for text inside buttons
button > span {
	line-height: 105%; // Nudge text down to match a.button and a[type="button"] classes
}

// Do not declare flex display for the true button element (because of Safari)
a.button,
a[type="button"] {
	display: flex;
}

button,
a.button,
a[type="button"] {
	align-items: center;
	justify-content: center;
	outline: none;
	border: none;
	border-radius: $button-radius;
	background-color: transparent;
	padding-right: 1rem;
	padding-left: 1rem;
	height: $button-height;
	min-width: 160px;
	white-space: nowrap;
	color: $dark-grey;
	font-family: $font-button;
	font-weight: bold;
	font-size: 0.9rem;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.005rem;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

button:active,
a.button:active,
a[type="button"]:active {
	box-shadow: none;
}

// Header, section, figure, footer
// --------------------------------------------------------------------------------------------------------------

// Set card patterns to full width by default
div,
figure {
	width: 100%;
}

header,
section,
figure,
footer {
	overflow: hidden;
}

figcaption,
.caption {
	font-family: $font-heading;
	// font-size: 0.9rem;
	line-height: 1.2rem;
}

// // Set default foreground image size
// picture img {
// 	width: 80px;
// 	height: 80px;
// }

// ==============================================================================================================
// Tablet viewport
// ==============================================================================================================

@media screen and (min-width: $viewport-tablet) {

	// Set base font size and line height for document
	:root {
		font-size: $root-font-size-tablet;
	}

	// Typography
	// --------------------------------------------------------------------------------------------------------------

	h1 {
		font-size: 2rem;
	}

	h2,
	.h2 {
		font-size: 1.6rem;
	}

}

// ==============================================================================================================
// Desktop viewport
// ==============================================================================================================

@media screen and (min-width: $viewport-desktop) {

	// Set base font size and line height for document
	:root {
		font-size: $root-font-size-desktop;
	}

}

// ==============================================================================================================
// Hover media query
// ==============================================================================================================

@media (hover: hover) {

	// Typography
	// --------------------------------------------------------------------------------------------------------------

	h3 > a,
	.h3 > a {
		transition: $transition;
	}

	// Buttons
	// --------------------------------------------------------------------------------------------------------------

	button:hover,
	a.button:hover,
	a[type="button"]:hover {
		box-shadow: none;
	}

}