// ==============================================================================================================
// Generic viewport
// (default declarations that can be overridden by specific media queries)
// ==============================================================================================================

// Typography
// --------------------------------------------------------------------------------------------------------------

%text-plain {
	margin: 0;
	width: 100%;
	color: inherit;
	font-family: $font-plain;
	// font-size: 1rem;
	letter-spacing: -0.015rem;
	text-align: left;
}