// Declare flexbox defaults for all flows
.flow-ttb-mob,
.flow-ttb-tab,
.flow-ttb-des,
.flow-btt-mob,
.flow-btt-tab,
.flow-btt-des,
.flow-ltr-mob,
.flow-ltr-tab,
.flow-ltr-des,
.flow-rtl-mob,
.flow-rtl-tab,
.flow-rtl-des {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: visible; // Declare overflow for shadows
}

/* Flow directions
---------------------------------------------------------------------------- */

// Top to bottom
.flow-ttb-mob {
	flex-direction: column;
}

// Bottom to top
.flow-btt-mob {
	flex-direction: column-reverse;
}

// Left to right
.flow-ltr-mob {
	flex-direction: row;
}

// Right to left
.flow-rtl-mob {
	flex-direction: row-reverse;
}


/* Tablet viewport
---------------------------------------------------------------------------- */

@media screen and (min-width: $viewport-tablet) {

	/* Flow directions
	---------------------------------------------------------------------------- */

	// Top to bottom
	.flow-ttb-tab {
		flex-direction: column;
	}

	// Bottom to top
	.flow-btt-tab {
		flex-direction: column-reverse;
	}

	// Left to right
	.flow-ltr-tab {
		flex-direction: row;
	}

	// Right to left
	.flow-rtl-tab {
		flex-direction: row-reverse;
	}

}

/* Desktop viewport
---------------------------------------------------------------------------- */

@media screen and (min-width: $viewport-desktop) {

	/* Flow directions
	---------------------------------------------------------------------------- */

	// Top to bottom
	.flow-ttb-des {
		flex-direction: column;
	}

	// Bottomn to top
	.flow-btt-des {
		flex-direction: column-reverse;
	}

	// Left to right
	.flow-ltr-des {
		flex-direction: row;
	}

	// Right to left
	.flow-rtl-des {
		flex-direction: row-reverse;
	}


}
