// ==============================================================================================================
// Generic viewport
// (default declarations that can be overridden by specific media queries)
// ==============================================================================================================

.flexwrap {
	flex-wrap: wrap;
}

.hidden {
	display: none;
}

.fade-in {
	animation: fade-in 0.1s ease-in;
}

// Counter
.text-counter > .h2:before {
	counter-increment: section;
	content: "" counter(section) ". ";
 }

// Bold text
.text-bold {
	font-weight: bold;
}

// Test uppercase
.text-uppercase {
	text-transform: uppercase;
}

// Highlight text
.text-highlight {
	background-color: $light-yellow;
}

// Heading badge

%text-heading-badge {
	display: inline-block;
	border-radius: $radius;
	margin-bottom: calc(#{$space-fixed} * 2);
	padding: calc(#{$space-fixed} * 0.5) calc(#{$space-fixed} * 0.66) calc(#{$space-fixed} * 0.466) calc(#{$space-fixed} * 0.66);
	width: auto;
	font-size: 0.85rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.035rem;
	opacity: 0.2;
}

.text-heading-badge--light {
	@extend %text-heading-badge;
	background-color: $dark-grey;
	color: $light-grey;
}

.text-heading-badge--dark {
	@extend %text-heading-badge;
	background-color: $light-grey;
	color: $dark-grey;
}

// Use with a span element to keep text together
.no-break {
	white-space: pre;
}

// Use with a span element to create line break
.break:after {
	content: "\A";
	white-space: pre;
}

.flex-grow {
	flex-grow: 2;
}

.flex-shrink {
	flex-shrink: 2;
}

// Collapse space between containers
.collapse-space + div {
	padding-top: 0;
}

// Width
// --------------------------------------------------------------------------------------------------------------

.width-auto-mob {
	width: auto;
}

.width-0-mob {
	width: 0;
}

.width-10-mob {
	width: 10%;
}

.width-20-mob {
	width: 20%;
}

.width-30-mob {
	width: 30%;
}

.width-40-mob {
	width: 40%;
}

.width-50-mob {
	width: 50%;
}

.width-60-mob {
	width: 60%;
}

.width-70-mob {
	width: 70%;
}

.width-80-mob {
	width: 80%;
}

.width-90-mob {
	width: 90%;
}

.width-100-mob {
	width: 100%;
}

// Height
// --------------------------------------------------------------------------------------------------------------

.height-auto-mob {
	height: auto;
}

.height-100-mob {
	height: 100%;
}

// Align text
// --------------------------------------------------------------------------------------------------------------

.text-c-mob,
.text-c-mob > h2,
.text-c-mob > .h2,
.text-c-mob > h3,
.text-c-mob > .h3,
.text-c-mob > h4,
.text-c-mob > .h4,
.text-c-mob > p {
	text-align: center;
}

.text-l-mob,
.text-l-mob > h2,
.text-l-mob > .h2,
.text-l-mob > h3,
.text-l-mob > .h3,
.text-l-mob > h4,
.text-l-mob > .h4,
.text-l-mob > p {
	text-align: left;
}

.text-r-mob,
.text-r-mob > h2,
.text-r-mob > .h2,
.text-r-mob > h3,
.text-r-mob > .h3,
.text-r-mob > h4,
.text-r-mob > .h4,
.text-r-mob > p {
	text-align: right;
}

.text-j-mob,
.text-j-mob > h2,
.text-j-mob > .h2,
.text-j-mob > h3,
.text-j-mob > .h3,
.text-j-mob > h4,
.text-j-mob > .h4,
.text-j-mob > p {
	text-align: justify;
	text-justify: inter-word;
}

.text-jc-mob,
.text-jc-mob h2,
.text-jc-mob .h2,
.text-jc-mob h3,
.text-jc-mob .h3,
.text-jc-mob h4,
.text-jc-mob .h4,
.text-jc-mob p {
	text-align: justify;
	text-justify: inter-word;
	text-align-last: center; // Force last line to center align
}

// Corner radius
// --------------------------------------------------------------------------------------------------------------

.radius-mob {
	border-radius: $radius;
	overflow: hidden;
}

.round-mob {
	border-radius: 100%;
	overflow: hidden;
}

// Borders
// --------------------------------------------------------------------------------------------------------------

.border-mob {
	border: solid 1px $border-color-light;
}

.border-t-mob {
	border-top: solid 1px $border-color-light;
}

.border-r-mob {
	border-right: solid 1px $border-color-light;
}

.border-b-mob {
	border-bottom: solid 1px $border-color-light;
}

.border-l-mob {
	border-left: solid 1px $border-color-light;
}

// Shadows
// --------------------------------------------------------------------------------------------------------------

.shadow-mob {
	box-shadow: $shadow;
}

// Inset shadow at top of element
.shadow-t-mob {
	box-shadow: inset $shadow;
}

// ==============================================================================================================
// Tablet viewport
// ==============================================================================================================

@media screen and (min-width: $viewport-tablet) {

	// Width
	// --------------------------------------------------------------------------------------------------------------

	.width-auto-tab {
		width: auto;
	}

	.width-0-tab {
		width: 0;
	}

	.width-10-tab {
		width: 10%;
	}

	.width-20-tab {
		width: 20%;
	}

	.width-30-tab {
		width: 30%;
	}

	.width-40-tab {
		width: 40%;
	}

	.width-50-tab {
		width: 50%;
	}

	.width-60-tab {
		width: 60%;
	}

	.width-70-tab {
		width: 70%;
	}

	.width-80-tab {
		width: 80%;
	}

	.width-90-tab {
		width: 90%;
	}

	.width-100-tab {
		width: 100%;
	}

	// Height
	// --------------------------------------------------------------------------------------------------------------

	.height-auto-tab {
		height: auto;
	}

	.height-100-tab {
		height: 100%;
	}

	// Align text
	// --------------------------------------------------------------------------------------------------------------

	.text-c-tab,
	.text-c-tab > h2,
	.text-c-tab > .h2,
	.text-c-tab > h3,
	.text-c-tab > .h3,
	.text-c-tab > h4,
	.text-c-tab > .h4,
	.text-c-tab > p {
		text-align: center;
	}

	.text-l-tab,
	.text-l-tab > h2,
	.text-l-tab > .h2,
	.text-l-tab > h3,
	.text-l-tab > .h3,
	.text-l-tab > h4,
	.text-l-tab > .h4,
	.text-l-tab > p {
		text-align: left;
	}

	.text-r-tab,
	.text-r-tab > h2,
	.text-r-tab > .h2,
	.text-r-tab > h3,
	.text-r-tab > .h3,
	.text-r-tab > h4,
	.text-r-tab > .h4,
	.text-r-tab > p {
		text-align: right;
	}

	.text-j-tab,
	.text-j-tab > h2,
	.text-j-tab > .h2,
	.text-j-tab > h3,
	.text-j-tab > .h3,
	.text-j-tab > h4,
	.text-j-tab > .h4,
	.text-j-tab > p {
		text-align: justify;
		text-justify: inter-word;
	}

	.text-jc-tab,
	.text-jc-tab > h2,
	.text-jc-tab > .h2,
	.text-jc-tab > h3,
	.text-jc-tab > .h3,
	.text-jc-tab > h4,
	.text-jc-tab > .h4,
	.text-jc-tab > p {
		text-align: justify;
		text-justify: inter-word;
		text-align-last: center; // Force last line to center align
	}
	
	// Corner radius
	// --------------------------------------------------------------------------------------------------------------

	.radius-tab {
		border-radius: $radius;
		overflow: hidden;
	}

	.round-tab {
		border-radius: 100%;
		overflow: hidden;
	}

	// Borders
	// --------------------------------------------------------------------------------------------------------------

	.border-tab {
		border: solid 1px $border-color-light;
	}

	.border-t-tab {
		border-top: solid 1px $border-color-light;
	}

	.border-r-tab {
		border-right: solid 1px $border-color-light;
	}

	.border-b-tab {
		border-bottom: solid 1px $border-color-light;
	}

	.border-l-tab {
		border-left: solid 1px $border-color-light;
	}

	// Shadows
	// --------------------------------------------------------------------------------------------------------------

	.shadow-tab {
		box-shadow: $shadow;
	}

	// Inset shadow at top of element
	.shadow-t-tab {
		box-shadow: inset $shadow;
	}

}

// ==============================================================================================================
// Desktop viewport
// ==============================================================================================================

@media screen and (min-width: $viewport-desktop) {

	// Constrain
	// --------------------------------------------------------------------------------------------------------------

	.constrain {
		margin-left: auto;
		margin-right: auto;
		max-width: $max-width;
	}

	// Width
	// --------------------------------------------------------------------------------------------------------------

	.width-auto-des {
		width: auto;
	}

	.width-0-des {
		width: 0;
	}

	.width-10-des {
		width: 10%;
	}

	.width-20-des {
		width: 20%;
	}

	.width-30-des {
		width: 30%;
	}

	.width-40-des {
		width: 40%;
	}

	.width-50-des {
		width: 50%;
	}

	.width-60-des {
		width: 60%;
	}

	.width-70-des {
		width: 70%;
	}

	.width-80-des {
		width: 80%;
	}

	.width-90-des {
		width: 90%;
	}

	.width-100-des {
		width: 100%;
	}

	// Height
	// --------------------------------------------------------------------------------------------------------------

	.height-auto-des {
		height: auto;
	}

	.height-100-des {
		height: 100%;
	}

	// Align text
	// --------------------------------------------------------------------------------------------------------------

	.text-c-des,
	.text-c-des > h2,
	.text-c-des > .h2,
	.text-c-des > h3,
	.text-c-des > .h3,
	.text-c-des > h4,
	.text-c-des > .h4,
	.text-c-des > p {
		text-align: center;
	}

	.text-l-des,
	.text-l-des > h2,
	.text-l-des > .h2,
	.text-l-des > h3,
	.text-l-des > .h3,
	.text-l-des > h4,
	.text-l-des > .h4,
	.text-l-des > p {
		text-align: left;
	}

	.text-r-des,
	.text-r-des > h2,
	.text-r-des > .h2,
	.text-r-des > h3,
	.text-r-des > .h3,
	.text-r-des > h4,
	.text-r-des > .h4,
	.text-r-des > p {
		text-align: right;
	}

	.text-j-des,
	.text-j-des > h2,
	.text-j-des > .h2,
	.text-j-des > h3,
	.text-j-des > .h3,
	.text-j-des > h4,
	.text-j-des > .h4,
	.text-j-des > p {
		text-align: justify;
		text-justify: inter-word;
	}

	.text-jc-des,
	.text-jc-des > h2,
	.text-jc-des > .h2,
	.text-jc-des > h3,
	.text-jc-des > .h3,
	.text-jc-des > h4,
	.text-jc-des > .h4,
	.text-jc-des > p {
		text-align: justify;
		text-justify: inter-word;
		text-align-last: center; // Force last line to center align
	}
	
	// Corner radius
	// --------------------------------------------------------------------------------------------------------------

	.radius-des {
		border-radius: $radius;
		overflow: hidden;
	}

	.round-des {
		border-radius: 100%;
		overflow: hidden;
	}

	// Borders
	// --------------------------------------------------------------------------------------------------------------

	.border-des {
		border: solid 1px $border-color-light;
	}

	.border-t-des {
		border-top: solid 1px $border-color-light;
	}

	.border-r-des {
		border-right: solid 1px $border-color-light;
	}

	.border-b-des {
		border-bottom: solid 1px $border-color-light;
	}

	.border-l-des {
		border-left: solid 1px $border-color-light;
	}

	// Shadows
	// --------------------------------------------------------------------------------------------------------------

	.shadow-des {
		box-shadow: $shadow;
	}

	// Inset shadow at top of element
	.shadow-t-des {
		box-shadow: inset $shadow;
	}

}
