// ==============================================================================================================
// Generic viewport
// (default declarations that can be overridden by specific media queries)
// ==============================================================================================================

// Profile photo
// --------------------------------------------------------------------------------------------------------------

.fg-image-profile img {
	border: solid 1px $border-color-light;
	border-radius: 100%;
	width: 150px;
	height: 150px;
}

// Use case pattern images
// --------------------------------------------------------------------------------------------------------------

.fg-image-use-case-mob img {
	width: 100px;
	height: 100px;
}

// Card pattern images
// --------------------------------------------------------------------------------------------------------------

.fg-image-card-mob {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

// ==============================================================================================================
// Tablet viewport
// ==============================================================================================================

@media screen and (min-width: $viewport-tablet) {

	// Profile photo
	// --------------------------------------------------------------------------------------------------------------

	.fg-image-profile img {
		border: solid 1px $border-color-light;
		border-radius: 100%;
		width: 200px;
		height: 200px;
	}

}

// ==============================================================================================================
// Desktop viewport
// ==============================================================================================================

@media screen and (min-width: $viewport-desktop) {
}