// ==============================================================================================================
// Generic viewport
// (default declarations that can be overridden by specific media queries)
// ==============================================================================================================
 
/* Blog posts on home page
---------------------------------------------------------------------------- */

.previous-blog-post-heading {
	border-bottom: solid 1px $border-color-light;
	padding: $space-fixed 0;
	width: 100%;
	font-family: $font-heading;
	font-size: 1.1rem;
	line-height: 125%;
	font-weight: normal;
	text-align: left;
}

.previous-blog-post-heading:first-of-type {
	padding-top: 0;
}

.previous-blog-post-heading:last-of-type {
	border-bottom: 0;
	padding-bottom: 0;
}

a.previous-blog-post-heading {
	transition: $transition;
}

/* Use cases
---------------------------------------------------------------------------- */

.use-case {
	transition: $transition;
}

/* Use cases XML files
---------------------------------------------------------------------------- */

.use-case__xml figcaption {
	padding: 0 0 $space-fixed 0;
	// font-size: 0.9rem;
	// line-height: 1.1rem;
}

.use-case__xml-photo {
	position: relative;
	border-radius: $radius;
	background-color: #fff;
	margin: 0 0 $space-mobile 0;
	padding: calc(#{$space-fixed} * 1);
	width: 300px;
	overflow: visible; // Needed for zoom image script
}

.use-case__xml-photo:first-of-type {
	margin-top: calc(#{$space-mobile * 2});
}


.use-case__xml-photo:last-of-type {
	margin-bottom: 0;
}

.use-case__xml-photo img {
	border: solid 1px $border-color-light;
	width: 266px;
}

/* Use cases zoom for images
---------------------------------------------------------------------------- */

img[data-action="zoom"] {
	cursor: pointer;
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
}

.zoom-img,
.zoom-img-wrap {
	position: relative;
	z-index: 666;
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}

img.zoom-img {
	cursor: pointer;
	cursor: -webkit-zoom-out;
	cursor: -moz-zoom-out;
}
.zoom-overlay {
	z-index: 420;
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	filter: "alpha(opacity=0)";
	opacity: 0;
	-webkit-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
	filter: "alpha(opacity=100)";
	opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
	cursor: default;
}

/* Pricing comparison on "pricing" page
---------------------------------------------------------------------------- */

// .pricing-comparison {
// 	background-color: #fff;
// }

.pricing-comparison__list {
	margin-left: -1.4rem;
}

.pricing-comparison li {
	border-bottom: dashed 1px $border-color-light;
	padding: 0.75rem 1rem;
	list-style-type: none;
}

.pricing-comparison li:last-of-type {
	border-bottom: 0;
}

// Nested list

.pricing-comparison li ul {
	margin-left: -1.3rem;
	list-style-type: none;
}

.pricing-comparison li ul li {
	border-bottom: 0;
	padding: 0.1rem 0 0 0;
}

.pricing-comparison__heading {
	font-family: $font-heading;
	font-size: 1.2rem;
	font-weight: bold;
}

.pricing-comparison__subheading {
	text-align: center;
}

.pricing-comparison__heading:after,
.pricing-comparison__subheading:after {
	content: "\a";
	white-space: pre-wrap;
}

/* Podcast cards on "channels" page
---------------------------------------------------------------------------- */

.channel__container {
	display: block;
	position: relative;
	border: solid 1px transparent;
	border-radius: $radius;
	background-color: #fff;
	padding: calc(#{$space-fixed} * 0.5);
	transition: $transition;
}

.channel__container figcaption {
	padding: 0.5rem 0 0.2rem 0;
	font-size: 0.9rem;
	line-height: 1.1rem;
}

.channel__container p {
	font-size: 0.85rem;
	line-height: 1.1rem;
}

.channel__container img {
	width: 100%;
	height: 100%;
	transition: $transition;
}

// Icons for channel statuses

%channel__status-icon {
	position: absolute;
	background-repeat: no-repeat;
	border: solid 1px #fff;
	border-radius: 15px;
	background-color: #fff;
	width: 30px;
	height: 30px;
	top: -8px;
	left: -8px;
	white-space: pre;
	box-shadow: $shadow;
	overflow: hidden;
	transition: all 0.2s ease-in;
}

.channel__status--private {
	@extend %channel__status-icon;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 16 20' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M13.13 20H2.105a2.109 2.109 0 0 1-2.108-2.11v-6.808c0-1.016.718-1.864 1.675-2.063V5.946A5.953 5.953 0 0 1 7.618 0a5.952 5.952 0 0 1 5.945 5.946V9.02a2.11 2.11 0 0 1 1.675 2.063v6.808A2.109 2.109 0 0 1 13.13 20zm-4.582-2.295V15.63a1.864 1.864 0 0 0-.93-3.48 1.865 1.865 0 0 0-.931 3.48v2.075h1.861zm1.914-8.73V5.946a2.847 2.847 0 0 0-2.844-2.844 2.847 2.847 0 0 0-2.844 2.844v3.029h5.688z' fill='%23ff524c' fill-rule='nonzero'/%3E%3C/svg%3E");
	background-color: $light-grey;
	background-size: 14px;
	background-position: center 5px;
}

.channel__status--coming-soon {
	@extend %channel__status-icon;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='2'%3E%3Cpath d='M2.925 17.072a10.067 10.067 0 0 0 2.305 1.72 9.938 9.938 0 0 0 5.407 1.188 9.956 9.956 0 0 0 6.43-2.908A9.971 9.971 0 0 0 19.995 10a9.969 9.969 0 0 0-2.928-7.071A9.965 9.965 0 0 0 10.637.02a9.957 9.957 0 0 0-6.232 1.687c-.532.36-1.028.768-1.48 1.22A9.97 9.97 0 0 0-.005 10a9.98 9.98 0 0 0 2.93 7.07zm7.07-15.029v7.492l-7.53 2.894C1.13 7.235 4.778 2.043 9.995 2.043z' fill='%231291d1'/%3E%3C/svg%3E");
	background-color: $light-grey;
	background-size: 16px;
	background-position: center center;
}

/* Individual podcast description on "channel" page
---------------------------------------------------------------------------- */

.channel-template__image-container {
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: $radius;
	background-color: #fff;
	margin: 0 $space-mobile calc(#{$space-mobile} * 0.5) 0;
	padding: $space-fixed;
	width: calc(#{$space-fixed} + 125px);
	height: calc(#{$space-fixed} + 125px);
	box-shadow: $shadow;
}

.channel-template__image-container img {
	width: unset; // This prevents the image width from intermitently loading incorrectly
	height: 125px;
}

/* Tablet viewport
---------------------------------------------------------------------------- */

@media screen and (min-width: $viewport-tablet) {

	/* Use cases XML files
	---------------------------------------------------------------------------- */

	.use-case__xml-photo {
		margin-bottom: $space-tablet;
	}

	.use-case__xml-photo:first-of-type {
		margin-top: 0;
	}

	/* Individual podcast description on "channels-template" page
	---------------------------------------------------------------------------- */

	.channel-template__container {
		flex-direction: row;
	}

	.channel-template__image-container {
		margin: 0 $space-tablet calc(#{$space-tablet} * 0.5) 0;
		padding: $space-fixed;
		width: calc(#{$space-fixed} + 150px);
		height: calc(#{$space-fixed} + 150px);
	}

	.channel-template__image-container img {
		height: 150px;
	}

}

/* Desktop viewport
---------------------------------------------------------------------------- */

@media screen and (min-width: $viewport-desktop) {

	/* Use cases XML files
	---------------------------------------------------------------------------- */

	.use-case__xml-photo {
		margin-bottom: $space-desktop;
	}

	/* Individual podcast description on "channels-template" page
	---------------------------------------------------------------------------- */

	.channel-template__image-container {
		margin: 0 $space-desktop calc(#{$space-desktop} * 0.5) 0;
		padding: $space-fixed;
		width: calc(#{$space-fixed} + 200px);
		height: calc(#{$space-fixed} + 200px);
	}

	.channel-template__image-container img {
		height: 200px;
	}

}

// ==============================================================================================================
// Hover
// ==============================================================================================================

@media (hover: hover) {

	a.previous-blog-post-heading:hover {
		color: $green;
	}

	/* Use cases
	---------------------------------------------------------------------------- */

	.use-case:hover {
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
		transform: scale(1.035);
	}

	/* Podcast cards on "channels" page
	---------------------------------------------------------------------------- */

	.channel__container:hover {
		border-color: $border-color-light;
		box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
		transform: scale(1.035);
	}

	.channel__container:hover .channel__status--private,
	.channel__container:hover .channel__status--coming-soon {
		background-image: none;
		width: 142px;
		height: 30px;
		// cursor: not-allowed;
	}

	%channel__status-icon-expand {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 8px;
		font-size: 0.85rem;
		font-weight: bold;
		line-height: 100%;
		text-align: center;
		animation: fade-in 0.35s ease-in;
	}

	.channel__container:hover .channel__status--private:after {
		@extend %channel__status-icon-expand;
		content: "Private Channel";
		color: $light-red;
	}

	.channel__container:hover .channel__status--coming-soon:after {
		@extend %channel__status-icon-expand;
		content: "Coming Soon!";
		color: $light-blue;
	}

	/* Misc
	---------------------------------------------------------------------------- */

	// Only display <mark> background colour on hover inside <figure>

	.mark-hover {
		border: 0;
		border-radius: 3px;
		background-color: transparent;
		padding: 0;
		transition: $transition;
	}

	figure:hover .mark-hover {
		background-color: $very-light-yellow;
		padding: 0;
	}

}