/* Page leadin
---------------------------------------------------------------------------- */

// Make space for page leadin
body {
	margin-top: $page-leadin-height;
}

// Outer container
.pattern-page-leadin {
	display: block;
	position: fixed;
	width: 100%;
	height: $page-leadin-height;
	top: 0;
	box-shadow: 0 0.15rem 0.3rem 0 rgba(0, 0, 0, 0.3);
	line-height: 0;
	overflow: visible;
	z-index: 9998;
}

// Structure content
.pattern-page-leadin > div {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	//width: 100%;
	height: 100%;
}

.pattern-page-leadin .brand {
	//display: flex;
	//flex-direction: row;
	//align-items: center;
	width: auto;
	font-family: $font-heading;
}

.pattern-page-leadin .brand svg {
	width: 150px;
	cursor: pointer;
}

.pattern-page-leadin .link span {
	display: none;
}

/* Page nav
---------------------------------------------------------------------------- */

.pattern-page-nav {
	display: flex;
	flex-direction: column;
	//z-index: 9996;
}

.pattern-page-nav-container {
	outline: none;
	background-color: $grey;
	font-family: $font-menu;
	font-size: 0.9rem;
	letter-spacing: -0.01rem;
}

.pattern-page-nav-container a {
	color: $dark-grey;
}

.pattern-page-nav-container:focus .page-nav-dropdown-content {
	max-height: 1000px; // This number is arbitrary but must exceed potential height
	transition: max-height 0.35s ease-in;
}

.pattern-page-nav-container:not(:focus) .page-nav-dropdown-content {
	max-height: 0;
	transition: max-height 0.25s ease-out;
}

.pattern-page-nav-dropdown-heading {
	display: flex;
	align-items: center;
	border-bottom: solid 1px $border-color;
	padding-right: $space-mobile;
	padding-left: $space-mobile;
	height: $page-leadin-height;
	white-space: pre;
	cursor: pointer;
}

a.pattern-page-nav-dropdown-heading:focus {
	padding-right: $space-mobile;
	padding-left: $space-mobile;
}

.pattern-page-nav-dropdown-content {
	max-height: 0;
	overflow: hidden;
}

.pattern-page-nav-dropdown-item,
.pattern-page-nav-dropdown-item:active,
.pattern-page-nav-dropdown-item:focus {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	outline: none;
	white-space: pre;
	border-bottom: solid 1px $border-color;
	padding-right: $space-mobile;
	padding-left: $space-mobile;
	height: 2.6rem;
	cursor: pointer;
}

.pattern-page-nav-dropdown-content > .page-nav-dropdown-item {
	background-color: #fff;
	font-size: 0.9rem;
}

.pattern-page-leadin .nav-icon {
	border-radius: $pattern-leadin-links-radius;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 16' xmlns='http://www.w3.org/2000/svg' fill-rule='evenodd' clip-rule='evenodd' stroke-linejoin='round' stroke-miterlimit='1.414'%3E%3Cpath d='M0 0h20v3H0V0zm0 6.5h20v3H0v-3zM0 13h20v3H0v-3z' fill='%23f9f9f9'/%3E%3C/svg%3E");
	background-size: 17px 22px;
	background-color: rgba(255, 255, 255, 0.15);
	background-position: center center;
	background-repeat: no-repeat;
	width: calc((#{$space-mobile} * 2) + #{$space-mobile});
	height: calc(#{$page-leadin-height} - #{$space-mobile});
	cursor: pointer;
	transition: all 0.1s ease-in;
	z-index: 9999;
	user-select: none;
}

/* Hero
---------------------------------------------------------------------------- */

.pattern-hero {
	min-height: 24rem;
}

/* Masthead
---------------------------------------------------------------------------- */

.pattern-masthead {
	min-height: 18rem;
}

/* Desktop viewport
---------------------------------------------------------------------------- */

@media screen and (min-width: $viewport-desktop) {

	/* Page leadin
	---------------------------------------------------------------------------- */

	.pattern-page-leadin > div {
		padding-left: 0;
	}

	.pattern-page-leadin .brand svg {
		width: 170px;
	}

	.pattern-page-leadin .link span {
		display: flex;
		border-radius: $pattern-leadin-links-radius;
		background-color: rgba(255, 255, 255, 0.15);
		height: calc(#{$page-leadin-height} - #{$space-mobile});
		color: #fff;
		font-family: $font-plain;
		font-size: 0.9rem;
		transition: all 0.15s ease-in;
		cursor: pointer;
	}

	.pattern-page-leadin .link span:hover {
		opacity: 0.7;
	}

	/* Page nav
	---------------------------------------------------------------------------- */

	.pattern-page-leadin .nav-icon {
		display: none;
	}

	/* Hero
	---------------------------------------------------------------------------- */

	.pattern-hero {
		height: calc(100vh - #{$page-leadin-height} + 1px);
	}

}