// ==============================================================================================================
// Generic viewport
// (default declarations that can be overridden by specific media queries)
// ==============================================================================================================

// Isolated text colours
// --------------------------------------------------------------------------------------------------------------

.text-red-mob {
	color: $red;
}

.text-blue-mob {
	color: $blue;
}

.text-green-mob {
	color: $green;
}

.text-yellow-mob {
	color: $yellow;
}

// Base themes (for sections, containers and table cells)
// --------------------------------------------------------------------------------------------------------------

p > a,
small > a,
li > a,
em > a {
	border-bottom: dashed 1px $green;
	border-radius: 1px;
	// font-weight: bold;
	transition: $transition;
	-webkit-text-decoration-skip: objects;
}

// Active links
h3 > a:active,
.h3 > a:active,
h4 > a:active,
p > a:active,
small > a:active,
li > a:active,
em > a:active {
	color: $green;
}

// White
.theme-white-mob,
td.theme-white-mob {
	background-color: #fff;
	color: $dark-grey;
}

// White links
.theme-white-mob p > a,
.theme-white-mob small > a,
.theme-white-mob li > a,
em.theme-white-mob > a {
	border-bottom: dashed 1px $green;
	border-radius: 1px;
	// background-color: #fff;
	color: $dark-grey;
	// font-weight: bold;
	transition: $transition;
	-webkit-text-decoration-skip: objects;
}

// White links active
.theme-white-mob p > a:active,
.theme-white-mob small > a:active,
.theme-white-mob li > a:active,
.theme-white-mob em > a:active,
.theme-white-mob .em > a:active {
	color: $green;
}

// Light grey
.theme-light-grey-mob, td.theme-light-grey-mob {
	background-color: $light-grey;
	color: $dark-grey;
}

// Light grey links
.theme-light-grey-mob p > a,
.theme-light-grey-mob small > a,
.theme-light-grey-mob li > a,
em.theme-light-grey-mob a {
	border-bottom: dashed 1px $green;
	border-radius: 1px;
	background-color: $light-grey;
	//padding: 2px 3px 2px 3px;
	color: $dark-grey;
	// font-weight: bold;
	transition: $transition;
	-webkit-text-decoration-skip: objects;
}

// Light grey links active
.theme-light-grey-mob p > a:active,
.theme-light-grey-mob small > a:active,
.theme-light-grey-mob li > a:active,
em.theme-light-grey-mob > a:active {
	color: $green;
}

// Dark grey and yellow
.theme-dark-grey_yellow-mob, td.theme-dark-grey_yellow-mob {
	background-color: $dark-grey;
	color: $yellow;
}

// Dark grey
.theme-dark-grey-mob, td.theme-dark-grey-mob {
	background-color: $dark-grey;
	color: $light-grey;
}

// Dark grey links
.theme-dark-grey-mob p > a,
.theme-dark-grey-mob small > a,
.theme-dark-grey-mob li > a,
em.theme-dark-grey-mob > a {
	border-bottom: dashed 1px $green;
	border-radius: 1px;
	background-color: $dark-grey;
	//padding: 2px 3px 2px 3px;
	color: $light-grey;
	// font-weight: bold;
	transition: $transition;
	-webkit-text-decoration-skip: objects;
}

// Red
.theme-red-mob, td.theme-red-mob {
	background-color: $red;
	color: $light-grey;
}

// Green
.theme-green-mob, td.theme-green-mob {
	background-color: $green;
	color: $light-grey;
}

// Blue
.theme-blue-mob, td.theme-blue-mob {
	background-color: $blue;
	color: $light-grey;
}

// Yellow
.theme-yellow-mob, td.theme-yellow-mob {
	background-color: $yellow;
	color: $dark-grey;
}

// Buttons
// --------------------------------------------------------------------------------------------------------------

// Button underline animation

button span,
a.button span,
a[type="button"] span {
	position: relative;
}

%button-animation {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	left: 50%;
	opacity: 0.9;
	transform-origin: left;
	transform: translate(-50%, 0) scaleX(0);
	transition: transform 0.25s ease-in-out;
}

a.button span:before,
a[type="button"] span:before {
	@extend %button-animation;
	bottom: -2px;
}

// Button underline animation primary button

button.primary:hover span:before,
a.button.primary:hover span:before,
a[type="button"].primary:hover span:before {
	background-color: #fff;
	transform: translate(-50%, 0) scaleX(1);
}

button.primary span:before {
	@extend %button-animation;
	bottom: -3px;
}

// Primary button
button.primary,
a[type="button"].primary,
a.button.primary {
	border: solid 1px rgba(0, 0, 0, 0.1);
	background-color: $green;
	color: #fff;
	box-shadow: $shadow;
}

// Primary button active
button.primary:active,
a[type="button"].primary:active,
a.button.primary:active {
	background-color: $light-green;
	box-shadow: none;
}

// Button underline animation secondary button

button.secondary:hover span:before,
a.button.secondary:hover span:before,
a[type="button"].secondary:hover span:before {
	background-color: $green;
	transform: translate(-50%, 0) scaleX(1);
}

button.secondary span:before {
	@extend %button-animation;
	bottom: -3px;
}

// Secondary button
button.secondary,
a[type="button"].secondary,
a.button.secondary {
	border: solid 1px $green;
	background-color: transparent;
	color: $green;
	box-shadow: $shadow;
}

// Secondary button active
button.secondary:active,
a[type="button"].secondary:active,
a.button.secondary:active {
	box-shadow: none;
}

// Accents
// --------------------------------------------------------------------------------------------------------------

// Dark grey
.accent-dark-grey-mob {
	border-bottom: solid $accent-border-width $dark-grey;
}

// Red
.accent-red-mob {
	border-bottom: solid $accent-border-width $red;
}

// Blue
.accent-blue-mob {
	border-bottom: solid $accent-border-width $blue;
}

// Green
.accent-green-mob {
	border-bottom: solid $accent-border-width $green;
}

// Yellow
.accent-yellow-mob {
	border-bottom: solid $accent-border-width $yellow;
}

// Emphasis accents (used for callouts, semantically more correct than using blockquote)
// --------------------------------------------------------------------------------------------------------------

// Dark grey
em.accent-dark-grey-mob {
	border: 0; // Remove all borders first
	border-left: solid $accent-border-width $dark-grey;
}

// Red
em.accent-red-mob {
	border: 0; // Remove all borders first
	border-left: solid $accent-border-width $red;
}

// Green
em.accent-green-mob {
	border: 0; // Remove all borders first
	border-left: solid $accent-border-width $green;
}

// Blue
em.accent-blue-mob {
	border: 0; // Remove all borders first
	border-left: solid $accent-border-width $blue;
}

// Yellow
em.accent-yellow-mob {
	border: 0; // Remove all borders first
	border-left: solid $accent-border-width $yellow;
}

// Card background image accents (border moves position based on flow direction)
// --------------------------------------------------------------------------------------------------------------
// These styles will override other border styles, such as border-b-mob

// Light grey

.flexdir-ttb-mob > .accent-light-grey.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: solid $accent-border-width $light-grey;
	border-left: 0;
}

.flexdir-ltr-mob > .accent-light-grey.card-background-image {
	border-top: 0;
	border-right: solid $accent-border-width $light-grey;
	border-bottom: 0;
	border-left: 0;
}

.flexdir-rtl-mob > .accent-light-grey.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: solid $accent-border-width $light-grey;
}

// Dark grey

.flexdir-ttb-mob > .accent-dark-grey.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: solid $accent-border-width $dark-grey;
	border-left: 0;
}

.flexdir-ltr-mob > .accent-dark-grey.card-background-image {
	border-top: 0;
	border-right: solid $accent-border-width $dark-grey;
	border-bottom: 0;
	border-left: 0;
}

.flexdir-rtl-mob > .accent-dark-grey.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: solid $accent-border-width $dark-grey;
}

// Red

.flexdir-ttb-mob > .accent-red.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: solid $accent-border-width $red;
	border-left: 0;
}

.flexdir-ltr-mob > .accent-red.card-background-image {
	border-top: 0;
	border-right: solid $accent-border-width $red;
	border-bottom: 0;
	border-left: 0;
}

.flexdir-rtl-mob > .accent-red.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: solid $accent-border-width $red;
}

// Green

.flexdir-ttb-mob > .accent-green.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: solid $accent-border-width $green;
	border-left: 0;
}

.flexdir-ltr-mob > .accent-green.card-background-image {
	border-top: 0;
	border-right: solid $accent-border-width $green;
	border-bottom: 0;
	border-left: 0;
}

.flexdir-rtl-mob > .accent-green.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: solid $accent-border-width $green;
}

// Blue

.flexdir-ttb-mob > .accent-blue.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: solid $accent-border-width $blue;
	border-left: 0;
}

.flexdir-ltr-mob > .accent-blue.card-background-image {
	border-top: 0;
	border-right: solid $accent-border-width $blue;
	border-bottom: 0;
	border-left: 0;
}

.flexdir-rtl-mob > .accent-blue.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: solid $accent-border-width $blue;
}

// Yellow

.flexdir-ttb-mob > .accent-yellow.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: solid $accent-border-width $yellow;
	border-left: 0;
}

.flexdir-ltr-mob > .accent-yellow.card-background-image {
	border-top: 0;
	border-right: solid $accent-border-width $yellow;
	border-bottom: 0;
	border-left: 0;
}

.flexdir-rtl-mob > .accent-yellow.card-background-image {
	border-top: 0;
	border-right: 0;
	border-bottom: 0;
	border-left: solid $accent-border-width $yellow;
}

// ==============================================================================================================
// Tablet viewport
// ==============================================================================================================

@media screen and (min-width: $viewport-tablet) {

	// Base themes (for sections, containers and table cells)
	// --------------------------------------------------------------------------------------------------------------

	// White
	.theme-white-tab, td.theme-white-tab {
		background-color: #fff;
		color: $dark-grey;
	}

	// White links
	.theme-white-tab p > a,
	.theme-white-tab small > a,
	.theme-white-tab li > a,
	em.theme-white-tab > a {
		border-bottom: dashed 1px $green;
		border-radius: 1px;
		background-color: #fff;
		//padding: 2px 3px 2px 3px;
		color: $dark-grey;
		// font-weight: bold;
		transition: $transition;
		-webkit-text-decoration-skip: objects;
	}

	// Light grey
	.theme-light-grey-tab, td.theme-light-grey-tab {
		background-color: $light-grey;
		color: $dark-grey;
	}

	// Light grey links
	.theme-light-grey-tab p > a,
	.theme-light-grey-tab small > a,
	.theme-light-grey-tab li > a,
	em.theme-light-grey-tab > a {
		border-bottom: dashed 1px $green;
		border-radius: 1px;
		background-color: $light-grey;
		//padding: 2px 3px 2px 3px;
		color: $dark-grey;
		// font-weight: bold;
		transition: $transition;
		-webkit-text-decoration-skip: objects;
	}

	// Dark grey
	.theme-dark-grey-tab, td.theme-dark-grey-tab {
		background-color: $dark-grey;
		color: $light-grey;
	}

	// Dark grey links
	.theme-dark-grey-tab p > a,
	.theme-dark-grey-tab li > a,
	.theme-dark-grey-tab small > a,
	em.theme-dark-grey-tab > a {
		border-bottom: dashed 1px #fff;
		border-radius: 1px;
		background-color: $dark-grey;
		//padding: 2px 3px 2px 3px;
		color: $light-grey;
		// font-weight: bold;
		transition: $transition;
		-webkit-text-decoration-skip: objects;
	}

	// Red
	.theme-red-tab, td.theme-red-tab {
		background-color: $red;
		color: $light-grey;
	}

	// Green
	.theme-green-tab, td.theme-green-tab {
		background-color: $green;
		color: $light-grey;
	}

	// Blue
	.theme-blue-tab, td.theme-blue-tab {
		background-color: $blue;
		color: $light-grey;
	}

	// Yellow
	.theme-yellow-tab, td.theme-yellow-tab {
		background-color: $yellow;
		color: $dark-grey;
	}

	// Accents
	// --------------------------------------------------------------------------------------------------------------

	.accent-red-tab {
		border-bottom: solid $accent-border-width $red;
	}

	.accent-green-tab {
		border-bottom: solid $accent-border-width $green;
	}

	.accent-blue-tab {
		border-bottom: solid $accent-border-width $blue;
	}

	.accent-yellow-tab {
		border-bottom: solid $accent-border-width $yellow;
	}

	// Card background image accents
	// --------------------------------------------------------------------------------------------------------------

	// Light grey

	.flexdir-ttb-tab > .accent-light-grey.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $light-grey;
		border-left: 0;
	}

	.flexdir-ltr-tab > .accent-light-grey.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $light-grey;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-tab > .accent-light-grey.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $light-grey;
	}

	// Dark grey

	.flexdir-ttb-tab > .accent-dark-grey.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $dark-grey;
		border-left: 0;
	}

	.flexdir-ltr-tab > .accent-dark-grey.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $dark-grey;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-tab > .accent-dark-grey.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $dark-grey;
	}

	// Red

	.flexdir-ttb-tab > .accent-red.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $red;
		border-left: 0;
	}

	.flexdir-ltr-tab > .accent-red.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $red;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-tab > .accent-red.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $red;
	}

	// Green

	.flexdir-ttb-tab > .accent-green.background-image{
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $green;
		border-left: 0;
	}

	.flexdir-ltr-tab > .accent-green.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $green;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-tab > .accent-green.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $green;
	}

	// Blue

	.flexdir-ttb-tab > .accent-blue.background-image{
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $blue;
		border-left: 0;
	}

	.flexdir-ltr-tab > .accent-blue.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $blue;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-tab > .accent-blue.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $blue;
	}

	// Yellow

	.flexdir-ttb-tab > .accent-yellow.background-image{
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $yellow;
		border-left: 0;
	}

	.flexdir-ltr-tab > .accent-yellow.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $yellow;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-tab > .accent-yellow.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $yellow;
	}

	// `em` accents (used for callouts, semantically more correct than using blockquote)
	// --------------------------------------------------------------------------------------------------------------

	// Dark grey
	em.accent-dark-grey-mob,
	em.accent-dark-grey-tab {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $dark-grey;
	}

	// Red
	em.accent-red-mob,
	em.accent-red-tab {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $red;
	}

	// Green
	em.accent-green-mob,
	em.accent-green-tab {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $green;
	}

	// Blue
	em.accent-blue-mob,
	em.accent-blue-tab {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $blue;
	}

	// Yellow
	em.accent-yellow-mob,
	em.accent-yellow-tab {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $yellow;
	}

}

// ==============================================================================================================
// Desktop viewport
// ==============================================================================================================

@media screen and (min-width: $viewport-desktop) {

	// Base themes (for sections, containers and table cells)
	// --------------------------------------------------------------------------------------------------------------

	// Links hover
	h2 > a:hover,
	h3 > a:hover,
	.h3 > a:hover,
	h4 > a:hover,
	p > a:hover,
	small > a:hover,
	li > a:hover,
	em > a:hover {
		color: $green;
	}

	// White
	.theme-white-des, td.theme-white-des {
		background-color: #fff;
		color: $dark-grey;
	}

	// White links
	.theme-white-des p > a,
	.theme-white-des li > a,
	.theme-white-des small > a,
	em.theme-white-des > a {
		border-bottom: dashed 1px $green;
		border-radius: 1px;
		background-color: #fff;
		//padding: 2px 3px 2px 3px;
		color: $dark-grey;
		// font-weight: bold;
		transition: $transition;
		-webkit-text-decoration-skip: objects;
	}

	// White links hover
	.theme-white-mob p > a:hover,
	.theme-white-tab p > a:hover,
	.theme-white-des p > a:hover,
	.theme-white-mob small > a:hover,
	.theme-white-tab small > a:hover,
	.theme-white-des small > a:hover,
	.theme-white-mob li > a:hover,
	.theme-white-tab li > a:hover,
	.theme-white-des li > a:hover,
	em.theme-white-mob > a:hover,
	em.theme-white-tab > a:hover,
	em.theme-white-des > a:hover {
		color: $green;
	}

	// Light grey
	.theme-light-grey-des, td.theme-light-grey-des {
		background-color: $light-grey;
		color: $dark-grey;
	}

	// Light grey links
	.theme-light-grey-des p > a,
	.theme-light-grey-des li > a,
	.theme-light-grey-des small > a,
	em.theme-light-grey-des > a {
		border-bottom: dashed 1px $green;
		border-radius: 1px;
		background-color: $light-grey;
		//padding: 2px 3px 2px 3px;
		color: $dark-grey;
		// font-weight: bold;
		transition: $transition;
		-webkit-text-decoration-skip: objects;
	}

	// Light grey links hover
	.theme-light-grey-mob p > a:hover,
	.theme-light-grey-tab p > a:hover,
	.theme-light-grey-des p > a:hover,
	.theme-light-grey-mob small > a:hover,
	.theme-light-grey-tab small > a:hover,
	.theme-light-grey-des small > a:hover,
	.theme-light-grey-mob li > a:hover,
	.theme-light-grey-tab li > a:hover,
	.theme-light-grey-des li > a:hover,
	em.theme-light-grey-mob > a:hover,
	em.theme-light-grey-tab > a:hover,
	em.theme-light-grey-des > a:hover {
		color: $green;
	}

	// Dark grey
	.theme-dark-grey-des, td.theme-dark-grey-des {
		background-color: $dark-grey;
		color: $light-grey;
	}

	// Dark grey links
	.theme-dark-grey-des p > a,
	.theme-dark-grey-des li > a,
	.theme-dark-grey-des small > a,
	em.theme-dark-grey-des > a {
		border-bottom: dashed 1px #fff;
		border-radius: 1px;
		background-color: $dark-grey;
		//padding: 2px 3px 2px 3px;
		color: $light-grey;
		// font-weight: bold;
		transition: $transition;
		-webkit-text-decoration-skip: objects;
	}

	// Dark grey links hover
	.theme-dark-grey-mob p > a:hover,
	.theme-dark-grey-tab p > a:hover,
	.theme-dark-grey-des p > a:hover,
	.theme-dark-grey-mob small > a:hover,
	.theme-dark-grey-tab small > a:hover,
	.theme-dark-grey-des small > a:hover,
	.theme-dark-grey-mob li > a:hover,
	.theme-dark-grey-tab li > a:hover,
	.theme-dark-grey-des li > a:hover,
	em.theme-dark-grey-mob > a:hover,
	em.theme-dark-grey-tab > a:hover,
	em.theme-dark-grey-des > a:hover {
		color: $green;
	}

	// Red
	.theme-red-des, td.theme-red-des {
		background-color: $red;
		color: $light-grey;
	}

	// Green
	.theme-green-des, td.theme-green-des {
		background-color: $green;
		color: $light-grey;
	}

	// Blue
	.theme-blue-des, td.theme-blue-des {
		background-color: $blue;
		color: $light-grey;
	}

	// Yellow
	.theme-yellow-des, td.theme-yellow-des {
		background-color: $yellow;
		color: $dark-grey;
	}

	// Buttons
	// --------------------------------------------------------------------------------------------------------------

	// Primary hover
	button.primary:hover,
	a[type="button"].primary:hover,
	a.button.primary:hover {
		background-color: $light-green;
		box-shadow: none;
	}

	// Secondary hover
	button.secondary:hover,
	a[type="button"].secondary:hover,
	a.button.secondary:hover {
		// background-color: $light-green;
		box-shadow: none;
	}

	// Accents
	// --------------------------------------------------------------------------------------------------------------

	.accent-red-des {
		border-bottom: solid $accent-border-width $red;
	}

	.accent-green-des {
		border-bottom: solid $accent-border-width $green;
	}

	.accent-blue-des {
		border-bottom: solid $accent-border-width $blue;
	}

	.accent-yellow-des {
		border-bottom: solid $accent-border-width $yellow;
	}

	// Background image accents
	// --------------------------------------------------------------------------------------------------------------

	// Light grey

	.flexdir-ttb-des > .accent-light-grey.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $light-grey;
		border-left: 0;
	}

	.flexdir-ltr-des > .accent-light-grey.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $light-grey;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-des > .accent-light-grey.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $light-grey;
	}

	// Dark grey

	.flexdir-ttb-des > .accent-dark-grey.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $dark-grey;
		border-left: 0;
	}

	.flexdir-ltr-des > .accent-dark-grey.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $dark-grey;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-des > .accent-dark-grey.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $dark-grey;
	}

	// Red

	.flexdir-ttb-des > .accent-red.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $red;
		border-left: 0;
	}

	.flexdir-ltr-des > .accent-red.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $red;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-des > .accent-red.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $red;
	}

	// Green

	.flexdir-ttb-des > .accent-green.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $green;
		border-left: 0;
	}

	.flexdir-ltr-des > .accent-green.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $green;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-des > .accent-green.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $green;
	}

	// Blue

	.flexdir-ttb-des > .accent-blue.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $blue;
		border-left: 0;
	}

	.flexdir-ltr-des > .accent-blue.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $blue;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-des > .accent-blue.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $blue;
	}

	// Yellow

	.flexdir-ttb-des > .accent-yellow.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: solid $accent-border-width $yellow;
		border-left: 0;
	}

	.flexdir-ltr-des > .accent-yellow.card-background-image {
		border-top: 0;
		border-right: solid $accent-border-width $yellow;
		border-bottom: 0;
		border-left: 0;
	}

	.flexdir-rtl-des > .accent-yellow.card-background-image {
		border-top: 0;
		border-right: 0;
		border-bottom: 0;
		border-left: solid $accent-border-width $yellow;
	}

	// `em` accents (used for callouts, semantically more correct than using blockquote)
	// --------------------------------------------------------------------------------------------------------------

	// Dark grey
	em.accent-dark-grey-mob,
	em.accent-dark-grey-tab,
	em.accent-dark-grey-des {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $dark-grey;
	}

	// Red
	em.accent-red-mob,
	em.accent-red-tab,
	em.accent-red-des {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $red;
	}

	// Green
	em.accent-green-mob,
	em.accent-green-tab,
	em.accent-green-des {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $green;
	}

	// Blue
	em.accent-blue-mob,
	em.accent-blue-tab,
	em.accent-blue-des {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $blue;
	}

	// Yellow
	em.accent-yellow-mob,
	em.accent-yellow-tab,
	em.accent-yellow-des {
		border: 0; // Remove all borders first
		border-left: solid $accent-border-width $yellow;
	}

}