// Root
// --------------------------------------------------------------------------------------------------------------

$root-font-size-mobile: 16px;
$root-font-size-tablet: 16px;
$root-font-size-desktop: 16px;
$root-line-height: 1.4;

// Viewports
// --------------------------------------------------------------------------------------------------------------

$viewport-mobile: 320px;
$viewport-tablet: 768px;
$viewport-desktop: 1025px;
//$viewport-desktop: 1281px; // MacBook Pro 13"

// Colours
// --------------------------------------------------------------------------------------------------------------

$orange: #ff8200;
$dark-orange: #ca6b18;

$light-grey: rgba(248, 248, 248, 1); // #fffff0
$dark-grey: rgba(55, 45, 65, 1); //#372d41

$light-red: rgba(255, 82, 76, 1); // #ff524c
$red: rgba(180, 0, 0, 1); // #b40000

$very-light-green: rgba(188, 245, 231, 1); // #a0f0dc
$light-green: rgba(0, 189, 170, 1); // #00bdaa
$green: rgba(0, 167, 155, 1); // #00a79b

$very-light-blue: rgba(200, 230, 255, 1); // #c8e6ff
$light-blue: rgba(18, 145, 209, 1); // #1291d1
$blue: rgba(0, 104, 166, 1); // #0068a6

$very-light-yellow: rgba(255, 245, 200, 1); // #fff5c8
$light-yellow: rgba(255, 215, 135, 1); // #ffd787
$yellow: rgba(255, 200, 95, 1); // #ffc85f

// Border colours
// --------------------------------------------------------------------------------------------------------------

$border-color-light: rgba(221, 221, 221, 1); // #ddd
$border-color-dark: rgba(67, 88, 111, 1); // #43586f

// Link colours
// --------------------------------------------------------------------------------------------------------------

$link-color: $orange;
$link-hover-color: $dark-orange;
$link-active-color: $orange;

// Accents
// --------------------------------------------------------------------------------------------------------------

$accent-border-width: 4px;

// Fonts and text
// --------------------------------------------------------------------------------------------------------------

$font-plain: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
$font-heading: "Bitter-Bold", sans-serif;
$font-alt: "Bitter-Bold", sans-serif;
$font-menu: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
$font-form-element: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
$font-button: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, Arial, sans-serif;
$font-monospace: monospace;

// Spacing and sizing
// --------------------------------------------------------------------------------------------------------------

$space-fixed: 1rem;
$space-mobile: 1rem;
$space-tablet: 1.5rem;
$space-desktop: 2rem;
$spread-space-fixed: 1rem;
$spread-space-mobile: 1rem;
$spread-space-tablet: 1.5rem;
$spread-space-desktop: 2rem;
$height-form-element: 48px;
$max-width: 1000px;
$radius: 7px;
$button-height: 48px;
$button-radius: 7px;

// Page leader
// --------------------------------------------------------------------------------------------------------------

$page-leader-height-mobile: calc(60px + 1rem);
$page-leader-height-desktop: calc(60px + 1rem);

// Page nav with Pushy
// --------------------------------------------------------------------------------------------------------------

$pushy-width: 100vw;
$pushy-height: 100vh; // Use vh or Edge mobile and Opera mobile will leave a gap

// Icons
// --------------------------------------------------------------------------------------------------------------

$encimage-icon-width: 24px;
$encimage-icon-height: 24px;

// Effects
// --------------------------------------------------------------------------------------------------------------

$shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
$scale-up: scale(1.075);
$transition: all 0.1s ease-in;
